@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 100;
    color: black;
    background-color: #FFF6FE;
}

/* heading and logo*/

h1 {
    font-family: Roboto Slab, sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    color: black;
    padding-top: 0.5%;
}

#logo {
    text-align: right;
    font-size: 250%;
    margin-right: 2.5rem;
}

a {
    text-decoration: none;
    /*added to remove underline on heading/logo*/
}

/* navigation links */

#navbar {
    font-family: Roboto Slab, sans-serif;
    font-size: 95%;
    letter-spacing: 3px;   
    padding: 1.25rem;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
    margin-left: 2.5rem;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* image and text divs */

div {
    margin: 0;
}

#dog-bowl-girl {
    background-image: url('../images/pexels-daria-shevtsova-2053922\ resized.jpg');
    height: 46.875rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    /*background image to scroll with the rest of the page*/
    position: relative;
    overflow: hidden;
} 

#welcome-text  {
    color: #36454F;
    letter-spacing: 3px;

    width: 18.75rem;
    height: 12.5rem;

    padding-top: 5.9375rem;
    padding-left: 6.25rem;

    position: absolute;
    /*to keep text in place relative to the background image*/
}

/* footer */

footer {
    height: 6.25rem;
    clear: both;
    /*to keep the footer in place on menu/book page on smaller screens*/
}

.socials {
    text-align: center;
    padding-top: 2%;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 120%;
    padding: 2%;
    color:black;
}

p  {
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 85%;
    padding-bottom: 4%;
    /*to override font set for body*/
}

#hours {
    font-weight: bold;
    line-height: 1.5;
    /*to override font set for body and paragraph*/
}

#contacts  {
    font-size: 80%;
    /*to override font set for body and paragraph*/
}

/* menu page */

#container {
    height: 43.75rem;
}

.menu-left {
    float: left;
    text-align: center;
    letter-spacing: 2px;
    width: 40%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 2;
}

#doggy {
    font-size: large;
    color: #FE94AD;
    background-color: #36454F;
}

.menu-right {
    float: right;
    text-align: center;
    letter-spacing: 2px;
    width: 40%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    line-height: 2;
}

.menu-right li {
    list-style-type: none;
}

#human {
    font-size: large;
    color: #FE94AD;
    background-color: #36454F;
}

#dog-intolerances {
    font-size: 90%;
    text-align: center;
    padding-top: 9.375rem;
    padding-left: 3.125rem;
}

/* book */

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    padding-top: 1%;
}

.form-div {
    height: 43.75rem;  
}

h2 {
    text-align: center;
    font-size: 180%;
}

#form-div {
    text-align: left;
    width: 25%;
    padding-right: 6rem;
    padding-top: 2.5%;
}

input, select {
    width: 100%;
    padding: 1rem 2.25rem;
    margin-right: 2.5rem;
    display: block;
    border:  1px solid #FFF6FE;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #FE94AD;
    color: #36454F;
  }

  /*Request booking button*/

  .request {
      margin-top: 1rem;
      border-radius: 4px;
      font-size: 100%;
      background-color:#36454F;
      color: #FE94AD;
  }

  .request:hover {
      background-color:#FE94AD;
      color:#36454F;
  }


