@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open Sans, sans-serif;
    font-weight: 100;
    color: black;
    background-color: #FFF6FE;
}

/* heading and logo*/

h1 {
    font-family: Roboto Slab, sans-serif;
    font-weight: 200;
    letter-spacing: 4px;
    color: black;
    padding-top: 0.5%;
}

#logo {
    text-align: right;
    font-size: 250%;
    text-decoration: none;
    margin-right: 40px;
}

a {
    text-decoration: none;
}

/* navigation links */

#navbar {
    font-family: Roboto Slab, sans-serif;
    font-size: 95%;
    letter-spacing: 3px;   
    padding: 20px;
}

#navbar li {
    display: inline-block;
    list-style-type: none;
    margin-left: 40px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid black;
}

.active {
    border-bottom: 1px solid black;
}

/* image and text divs */

div {
    margin: 0;
}

#dog-bowl-girl {
    background-image: url('../images/pexels-daria-shevtsova-2053922\ resized.jpg');
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    position: relative;
   overflow: hidden;
} 

#welcome-text  {
    color: #36454F;
    letter-spacing: 3px;

    width: 300px;
    height: 200px;

    padding-top: 95px;
    padding-left: 100px;

    position: absolute;
}

/* footer */

footer {
    height: 100px;
}

.socials {
    text-align: center;
    padding-top: 2%;
}

.socials > li {
    display: inline;
}

.socials i {
    font-size: 120%;
    padding: 2%;
    color:black;
}

p  {
    font-family: Roboto Slab, sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-size: 85%;
    padding-bottom: 4%;
}

#hours {
    font-weight: bold;
    line-height: 1.5;
}

#contacts  {
    font-size: 80%;
}

/* menu page */

#container {
    height: 700px;
}

.menu-left {
    float: left;
    text-align: center;
    letter-spacing: 2px;
    width: 40%;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 2;
}

#dog-intolerances {
    font-size: 90%;
    text-align: center;
    padding-top: 150px;
    padding-left: 50px;
}

.menu-right {
    float: right;
    text-align: center;
    letter-spacing: 2px;
    width: 40%;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 2;
}

.menu-right li {
    list-style-type: none;
}

#doggy {
    font-size: large;
    color: #FE94AD;
    background-color: #36454F;
}

#human {
    font-size: large;
    color: #FE94AD;
    background-color: #36454F;
}


